# 커피 지수
## 데이터로부터 4개 커피샵에 대한 정보 추출해서 저장하기

In [1]:
from google.colab import drive
drive.mount('/content/mnt')\

Mounted at /content/mnt

In [4]:
data_folder = '/content/mnt/MyDrive/Data/소상공인시장진흥공단'

In [5]:
from glob import glob
for file in glob(f'{data_folder}/*.csv'):
    print(file)

/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv
/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv

In [6]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [105]:
df = pd.read_csv(f'{data_folder}/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv', encoding='utf-8')
print(df.shape)
df.head()

(106868, 39)

     상가업소번호            상호명  지점명 상권업종대분류코드  ...  층정보 호정보          경도         위도
0  25033300      동그라미중고타이어  NaN         D  ...  NaN NaN  128.904472  37.770252
1  17174549  세인트존스호텔Ohcrab  NaN         O  ...  NaN NaN  128.920908  37.791299
2  17174079        평창라마다호텔  NaN         O  ...  NaN NaN  128.717971  37.660051
3  17173904    호텔탑스텐스카이라운지  NaN         O  ...  NaN NaN  129.052902  37.654680
4  20782013           행복나눔  NaN         D  ...  NaN NaN  127.752293  37.876199

[5 rows x 39 columns]

In [106]:
df = df[['상권업종중분류코드', '상호명','지점명','시도명','시군구명']]
df.head()

  상권업종중분류코드            상호명  지점명  시도명 시군구명
0       D23      동그라미중고타이어  NaN  강원도  강릉시
1       O01  세인트존스호텔Ohcrab  NaN  강원도  강릉시
2       O01        평창라마다호텔  NaN  강원도  평창군
3       O01    호텔탑스텐스카이라운지  NaN  강원도  강릉시
4       D07           행복나눔  NaN  강원도  춘천시

In [107]:
# Q12만 남기기
df=df[df.상권업종중분류코드 == 'Q12']
print(df.shape)
df.head()

(4573, 5)

   상권업종중분류코드       상호명     지점명  시도명 시군구명
5        Q12  키즈까페아이사랑     NaN  강원도  강릉시
40       Q12      카페마실     NaN  강원도  원주시
53       Q12        힐링     NaN  강원도  원주시
69       Q12       드롭탑  속초엑스포점  강원도  속초시
91       Q12     SHIMS     NaN  강원도  원주시

In [115]:
df_star=df[df.상호명.str.contains('스타벅스')]
df_idya=df[df.상호명.str.contains('이디야')]
df_cfbn=df[df.상호명.str.contains('커피빈')]
df_back=df[df.상호명.str.contains('빽다방')]
df_star['커피샵'] = '스타벅스'
df_idya['커피샵'] = '이디야'
df_cfbn['커피샵'] = '커피빈'
df_back['커피샵'] = '빽다방'

In [116]:
df_all = pd.concat([df_star,df_idya,df_cfbn,df_back])
df_all

       상권업종중분류코드          상호명        지점명  시도명 시군구명   커피샵
3226         Q12   스타벅스강릉안목항점     강릉안목항점  강원도  강릉시  스타벅스
5584         Q12         스타벅스  대명델피노리조트점  강원도  고성군  스타벅스
7827         Q12  스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시  스타벅스
9325         Q12         스타벅스      춘천명동점  강원도  춘천시  스타벅스
10764        Q12  스타벅스설악워터피아점    설악워터피아점  강원도  속초시  스타벅스
...          ...          ...        ...  ...  ...   ...
84177        Q12          빽다방    원주혁신도시점  강원도  원주시   빽다방
88565        Q12          빽다방       강원대점  강원도  춘천시   빽다방
89661        Q12   빽다방강릉교동중앙점    강릉교동중앙점  강원도  강릉시   빽다방
96390        Q12          빽다방      강릉금학점  강원도  강릉시   빽다방
100963       Q12          빽다방     화천사내면점  강원도  화천군   빽다방

[142 rows x 6 columns]

In [125]:
df_all.columns = ['상권업종중분류코드', '상호명', '지점명', '광역시도', '시군구', '커피샵']
df_all.head()

      상권업종중분류코드          상호명        지점명 광역시도  시군구   커피샵
3226        Q12   스타벅스강릉안목항점     강릉안목항점  강원도  강릉시  스타벅스
5584        Q12         스타벅스  대명델피노리조트점  강원도  고성군  스타벅스
7827        Q12  스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시  스타벅스
9325        Q12         스타벅스      춘천명동점  강원도  춘천시  스타벅스
10764       Q12  스타벅스설악워터피아점    설악워터피아점  강원도  속초시  스타벅스

In [127]:
df_korea = pd.DataFrame()
df_korea = pd.concat([df_korea, df_all])
df_korea

       상권업종중분류코드          상호명        지점명 광역시도  시군구   커피샵
3226         Q12   스타벅스강릉안목항점     강릉안목항점  강원도  강릉시  스타벅스
5584         Q12         스타벅스  대명델피노리조트점  강원도  고성군  스타벅스
7827         Q12  스타벅스춘천후평DT점    춘천후평DT점  강원도  춘천시  스타벅스
9325         Q12         스타벅스      춘천명동점  강원도  춘천시  스타벅스
10764        Q12  스타벅스설악워터피아점    설악워터피아점  강원도  속초시  스타벅스
...          ...          ...        ...  ...  ...   ...
84177        Q12          빽다방    원주혁신도시점  강원도  원주시   빽다방
88565        Q12          빽다방       강원대점  강원도  춘천시   빽다방
89661        Q12   빽다방강릉교동중앙점    강릉교동중앙점  강원도  강릉시   빽다방
96390        Q12          빽다방      강릉금학점  강원도  강릉시   빽다방
100963       Q12          빽다방     화천사내면점  강원도  화천군   빽다방

[142 rows x 6 columns]

# 반복문으로 전체

In [166]:
list = []
for file in glob(f'{data_folder}/*.csv'):
    list.append(file)

list

['/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_강원_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경기_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경남_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_경북_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_광주_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_대구_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_대전_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_부산_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_서울_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_세종_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_울산_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_인천_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_전남_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_전북_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_제주_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_충남_202106.csv',
 '/content/mnt/MyDrive/Data/소상공인시장진흥공단/소상공인시장진흥공단_상가(상권)정보_충북_202106.csv']

In [177]:
df_korea = pd.DataFrame()

for filename in list:
    df = pd.read_csv(f'{filename}', encoding='utf-8')

    # 필요한 행만 남기기
    df = df[['상권업종중분류코드', '상호명','지점명','시도명','시군구명','도로명주소']]

    # Q12만 남기기
    df=df[df.상권업종중분류코드 == 'Q12']

    # 커피샵 상호명에 따라 분류
    
    # df_star = df[df.상호명.str.contains('스타벅스|STARBUCKS|스타박스', case = Fasle)]
    df_star=df[df.상호명.str.contains('스타벅스') | df.상호명.str.contains('STARBUCKS') | df.상호명.str.contains('starbucks') | df.상호명.str.contains('Starbucks')]
    df_idya=df[df.상호명.str.contains('이디야') | df.상호명.str.contains('EDIYA')| df.상호명.str.contains('ediya')| df.상호명.str.contains('Ediya')]
    df_cfbn=df[df.상호명.str.contains('커피빈') | df.상호명.str.contains('COFFEEBEAN') | df.상호명.str.contains('coffeebean')| df.상호명.str.contains('Coffeebean')]
    df_back=df[df.상호명.str.contains('빽다방') | df.상호명.str.contains('PAIKS') | df.상호명.str.contains('paiks')| df.상호명.str.contains('Paiks')]
    df_star['커피샵'] = '스타벅스'
    df_idya['커피샵'] = '이디야'
    df_cfbn['커피샵'] = '커피빈'
    df_back['커피샵'] = '빽다방'

    # 합치기
    df_all = pd.concat([df_star,df_idya,df_cfbn,df_back])

    # ID 따기 편하게 칼럼명 바꾸기
    df_all.columns = ['상권업종중분류코드', '상호명', '지점명', '광역시도', '시군구', '도로명주소', '커피샵']

    # 전국 한번에 합치기
    df_korea = pd.concat([df_korea, df_all])

In [178]:
df_korea.shape

(4569, 7)

In [179]:
df_korea.groupby(df_korea.커피샵).count()

      상권업종중분류코드   상호명   지점명  광역시도   시군구  도로명주소
커피샵
빽다방         609   609   569   609   609    609
스타벅스       1547  1547  1391  1547  1547   1547
이디야        2120  2120  1888  2120  2120   2120
커피빈         293   293   237   293   293    293

In [180]:
df_korea.to_csv(f'{data_folder}/매장추출_self.csv', index=False)